
<template name="popupCursor_gmaps">
	<a class="btn-search btn btn-default btn-sm btn-block" href="#">
		<i class="icon icon-gmap"></i> {{i18n 'btn_gmapssearch'}}
	</a>
</template>

<template name="popupGeojson_gmaps">
	<div class="popup-gmaps">
		{{#if properties.name}}
		<a class="btn btn-block btn-default popup-tit">
			<b>{{properties.name}}</b>
		</a>
		{{/if}}
      <div class="list-group-item">
      {{> popupGmaps}}
      </div>
		<a class="btn-import btn btn-default btn-block" href="#">
			<i class="icon icon-add"></i> {{i18n 'btn_gmapsimport'}}
		</a>
	</div>
</template>

<template name="popupGmaps"> 
   <div class="row">
      <div class="col-sm-12">
		<i class="icon" style="background-image: url({{icon}})"></i>
		<div>
			{{#each types}}
				<span class="label label-primary">{{this}}</span>
			{{/each}}
		</div>	
		<div>
			{{#each photos}}
				<img src="https://maps.googleapis.com/maps/api/place/photo?photoreference={{photo_reference}}&sensor=false&maxheight=200&maxwidth=200" />
			{{/each}}
		</div>
		<small>ID: {{id}}</small>
       </div>
   </div>
</template>
